//variable
$bg:#F9F6F1;
$dark:#212121;
$accent:#D7B399;
$white :#fff;
$red:#D84030;
$silver:#CBCFD4;
//media
@mixin breakpoint($point) {
    @if $point == lg {
        @media (max-width: 992px) {@content;}
    }
    @else if $point == md {
        @media (max-width: 768px) {@content;}
    }
    @else if $point == sm {
        @media (max-width: 576px) {@content;}
    }
    @else if $point == xs {
        @media (max-width: 500px) {@content;}
    }
    @else if $point == xxs {
        @media (min-width: 320px) {@content;}
    }
} 